<html>
<head>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<nav>
		<ul>
			<li>
				<a class="btn btn-default" role="button" href="/">home</a>
			</li>
			<li>
				<a href="/about">about</a>
			</li>
			<li>
				<a href="/contact">contact</a>
			</li>
		</ul>
	</nav>
	<main>	
    {{ content }}
	</main>
	<footer>This is footerke</footer>
	
	<script src="/bower_components/jquery/dist/jquery.min.js" ></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
</html>